{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Admin Panel</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'styles/admin.css' %}">
</head>
<body>
    <div class="navbar">
        <div>COMPANYNAME</div>
      <div class="btcont"> 
        <p id = "admin">Admin</p>
        <button id ="home"><i class="fa-solid fa-house"></i></button>    
      </div>
    </div>

    <div class="buttons">
    <a href="#" id = "manage-vids" class="button">Manage</a>
    <a href="#" id= "view-user" class="button">View User</a>
    </div>
    <script>
      if(document.getElementById('home')){
        document.getElementById('home').addEventListener('click', function() {window.location.href = "{% url 'home' %}";})
        }
      if(document.getElementById('view-user')){
        document.getElementById('view-user').addEventListener('click', function() {window.location.href = "{% url 'viewUser' %}";})
        }
        if(document.getElementById('manage-vids')){
        document.getElementById('manage-vids').addEventListener('click', function() {window.location.href = "{% url 'manageFootage' %}";})
        }
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js" integrity="sha512-GWzVrcGlo0TxTRvz9ttioyYJ+Wwk9Ck0G81D+eO63BaqHaJ3YZX9wuqjwgfcV/MrB2PhaVX9DkYVhbFpStnqpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>


