body {
    background-color: #1a1a1a;
    color: white;
    font-family: Arial, sans-serif;
  }
  .login-form {
    margin: auto;
    margin-top: 20vh;
    width: 400px;
    padding: 20px;
    background-color: #2b2b2b;
    border: 2px solid #00bfff;
    border-radius: 5px;
  }
  .company-name {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  .icon {
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    color: white;
  }
  input[type="email"], input[type="password"], input[type = "text" ]{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #4d4d4d;
    color: white;
  }
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: red;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  .forgot-password {
    color: #bfbfbf;
    font-size: 14px;
    text-align: right;
  }
  .home-icon {
    position: absolute;
    top: 5vh;
    right: 6vw;
    font-size: 24px;
    border: none;
    background: transparent;
  }

  .home-icon img{

    width:5vh;
    height: 5vh;
    color:aliceblue
  }